<% provide(:title, "Home") %>
<%= render "layouts/navbar" %>

<div class="container-fluid">
 	<div class="row d-flex d-md-block flex-nowrap wrapper">
		<%= render "layouts/leftmenu" %>
		<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
			<dir class=" text text-center text-danger font-weight-bold border border-primary" >
				<h1>WELCOME TO BLOGER CC</h1>
				<h3>Nơi giao lưu và kết bạn.</h3>
			</dir>
			<img src="http://hinhnendep.vn/wp-content/uploads/2016/07/hinh-nen-lien-minh-lol-dep-hd-6.jpg" width="1280" height="720" class="img-thumbnail">
			<hr>
			<!--Content-->
		<section class="content">
			<dir class="container">
				<dir class="row">
					<dir class="col-lg-8 col-lg-offset-2 text_content">
						<h1>League of Legends (LoL)</h1>
						<p>Là một trò chơi video đấu trường trận chiến trực tuyến nhiều người chơi (MOBA - Multiplayer Online Battlefield Arena) được Riot Games phát triển và phát hành cho hệ điều hành Microsoft Windows và Mac OS X, lấy cảm hứng từ mod Defense of the Ancients cho trò chơi video Warcraft III: Frozen Throne. Nó là một trò chơi được chơi miễn phí và được hỗ trợ bởi các vi giao dịch (micro-transaction). Trò chơi được công bố đầu tiên vào ngày 7 tháng 10 năm 2008 và phát hành vào ngày 27 tháng 10 năm 2009. Kể từ khi phát hành, Liên Minh Huyền Thoại được đón nhận rất tích cực, và trở nên phổ biến trong những năm sau đó. Theo một bài báo của Forbes năm 2012, Liên Minh Huyền Thoại là trò chơi máy tính được chơi nhiều nhất ở Bắc Mỹ và Châu Âu về số giờ chơi. Đến tháng 1 năm 2014, có 67 triệu người chơi Liên Minh Huyền Thoại mỗi tháng, 27 triệu người mỗi ngày, và hơn 7,5 triệu người cùng lúc trong những thời điểm cao nhất.</p><hr>
					</dir>
					<dir class="col-lg-8 col-lg-offset-1">
						<dir class="col-lg-3">
							<dir class="txt_ticket">
								<i class="fa fa-ticket fa-2x"></i>
								<p>Ticket</p>
							</dir>
						</dir>
						<dir class="col-lg-3">
							<dir class="txt_camera">
								<i class="fa fa-camera-retro fa-2x"></i>
								<p>Camera</p>
							</dir>
						</dir>
						<dir class="col-lg-3">
							<dir class="txt_dashboard">
								<i class="fa fa-dashboard fa-2x"></i>
								<p>Dashboard</p>
							</dir>
						</dir>
						<dir class="col-lg-3">
							<dir class="txt_heart">
								<i class="fa fa-heart-o fa-2x"></i>
								<p>Heart</p>
							</dir>
						</dir>
					</dir>
					<hr>
				</dir>
			</dir>
		</section>
		</main>
	</div>
</div>
<%= render "layouts/footer" %>