<% provide(:title, "Albums") %>
<%= render "layouts/navbar1" %>
<div class="container-fluid">
 	<div class="row d-flex d-md-block flex-nowrap wrapper">
		<%= render "layouts/leftmenu" %>
		<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
			<div class="card bg-dark text-white">
				<img class="card-img" src="http://hinhnendep.vn/wp-content/uploads/2016/07/hinh-nen-lien-minh-lol-dep-hd-6.jpg" width="720" height="480" alt="Card image">
				<div class="card-img-overlay">
					<h4 class="card-title">Albums</h4>
					<p class="card-text">Đây là bộ sư tập ảnh về các chủ đề liên quan tới game Liên Minh Huyền Thoại</p>
					<p class="card-text">Last updated 3 hours ago</p>
				</div>
			</div>
			<hr>
			<div class="album text-muted">
			    <div class="container">
			      	<div class="row">
			        	<div class="col-md-6">
			          		<div class="card" style="width: 42rem;">
						  		<img class="card-img-top" src="https://lienminh.garena.vn/images/champions/skin/13_Ryze/10.jpg" alt="Card image cap">
						  		<div class="card-body">
						    		<h4 class="card-title">Các trang phục của Tướng Ryze</h4>
						    		<p class="card-text">Người tạo: Riot</p>
						    		<p class="card-text">Lượt xem: 128</p>
						    		<a href="#" class="btn btn-primary">Xem chi tiết</a>
						  		</div>
							</div>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="card" style="width: 42rem;">
						  		<img class="card-img-top" src="http://lienminh360.vn/wp-content/uploads/2017/09/cosplay-sona-gia-lap-1-e1505802388212.jpg" alt="Card image cap">
						  		<div class="card-body">
						    		<h4 class="card-title">Cosplay Sona Giả Lập ảo diệu</h4>
						    		<p class="card-text">Người tạo: alibaba</p>
						    		<p class="card-text">Lượi xem: 259</p>
						    		<a href="#" class="btn btn-primary">Xem chi tiết</a>
						  		</div>
							</div>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="card" style="width: 42rem;">
						  		<img class="card-img-top" src="https://lienminh.garena.vn/images/champions/skin/15_Sivir/6.jpg" alt="Card image cap">
						  		<div class="card-body">
						    		<h4 class="card-title">Trang phục của tướng Sivir</h4>
						    		<p class="card-text">Người tạo: NoWay</p>
						    		<p class="card-text">Lượt xem: 421</p>
						    		<a href="#" class="btn btn-primary">Xem chi tiết</a>
						  		</div>
							</div>
							<hr>
						</div>
						<div class="col-md-6">
							<div class="card" style="width: 42rem;">
						  		<img class="card-img-top" src="http://lienminh360.vn/wp-content/uploads/2017/07/nidalee-e1501501409691.jpeg" alt="Card image cap">
						  		<div class="card-body">
						    		<h4 class="card-title">Vũ điệu hoang dã của cô nàng Nidalee Báo Đốm</h4>
						    		<p class="card-text">Người tạo: Love Strory</p>
						    		<p class="card-text">Lượt xem: 421</p>
						    		<a href="#" class="btn btn-primary">Xem chi tiết</a>
						  		</div>
							</div>
							<hr>
						</div>
			        </div>
			    </div>
			</div>
			<hr>	
		</main>
	</div>
</div>
<%= render "layouts/footer" %>
