<% provide(:title, "Ashe") %>
<%= render "layouts/navbar" %>
<div class="container-fluid">
 	<div class="row d-flex d-md-block flex-nowrap wrapper">
		<%= render "layouts/leftmenu" %>
		<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
			<div class="row">
            <div class="col-md 4">
              <h2>Ashe</h2>
              <img src="https://lienminh.garena.vn/images/champions/skin/22_Ashe/0.jpg" width="318" height="180" class="img-thumbnail">
              <p>Mỗi mũi tên bắn ra từ cây cung băng phép cổ xưa của cô đều thể hiện rằng Ashe là một thiện xạ đại tài. Cô chọn lựa mục tiêu kĩ lưỡng, chờ đợi khoảnh khắc thích hợp rồi buông tên với sức mạnh và sự chính xác. Cũng với tầm nhìn và sự tập trung đó, cô theo đuổi mục tiêu thống nhất các bộ tộc vùng Freljord để tạo nên một quốc gia hùng mạnh...</p>
			
		</main>
	</div>
</div>
<%= render "layouts/footer" %>