<% provide(:title, "Blog") %>
<%= render "layouts/navbar3" %>
<div class="container-fluid">
 	<div class="row d-flex d-md-block flex-nowrap wrapper">
		<%= render "layouts/leftmenu" %>
		<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          <p class="float-right d-md-none">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Welcome to Blog!</h1>
            <p>Đây là trang chia sẻ và trao đổi kinh nghiệm chơi game.</p>
          </div>
          <div class="row">
            <div class="col-md 4">
              <h2>Ashe</h2>
              <img src="https://lienminh.garena.vn/images/champions/skin/22_Ashe/0.jpg" width="318" height="180" class="img-thumbnail">
              <p>Mỗi mũi tên bắn ra từ cây cung băng phép cổ xưa của cô đều thể hiện rằng Ashe là một thiện xạ đại tài. Cô chọn lựa mục tiêu kĩ lưỡng, chờ đợi khoảnh khắc thích hợp rồi buông tên với sức mạnh và sự chính xác. Cũng với tầm nhìn và sự tập trung đó, cô theo đuổi mục tiêu thống nhất các bộ tộc vùng Freljord để tạo nên một quốc gia hùng mạnh...</p><hr>
              	<div class="card-body">
					<p class="card-text">Người tạo: Xpeke</p>
					<p class="card-text">Lượt xem: 152</p>
              		<p><a class="btn btn-secondary" href="/blog/ashe" role="button">Xem chi tiết &raquo;</a></p>
          		</div>
            </div><!--/span-->
            <div class="col-md 4">
              <h2>Caitlyn</h2>
              <img src="https://lienminh.garena.vn/images/champions/skin/51_Caitlyn/0.jpg" width="318" height="180" class="img-thumbnail">
              <p>''Đấy, cứ chạy đi. Chấp các ngươi trước 5 phút đó.'' Một trong những nguyên nhân khiến Piltover được biết đến với danh hiệu Thành Phố Tân Tiến là vì tỉ lệ tội phạm cực thấp. Nhưng trước đây mọi sự không được như vậy; các thể loại côn đồ trộm cướp đã từng xem chốn thành thị nơi đây là một chốn thiên đường trần thế, chủ yếu là dựa vào...</p><hr>
                <div class="card-body">
					<p class="card-text">Người tạo: Riot</p>
					<p class="card-text">Lượt xem: 351</p>
              		<p><a class="btn btn-secondary" href="/blog/ashe" role="button">Xem chi tiết &raquo;</a></p>
          		</div>
            </div><!--/span-->
            <div class="col-md 4">
              <h2>Garen</h2>
              <img src="https://lienminh.garena.vn/images/champions/skin/86_Garen/0.jpg" width="318" height="180" class="img-thumbnail">
              <p>Trên khắp Valoran, những quyết định sắt đá của quân đội Demacia khiến mọi người ca tụng hoặc căm ghét, nhưng nó luôn được kính trọng. Khẩu hiệu ''không tha thứ'' của họ được thực thi bởi cả thường dân lẫn quân đội. Khi chiến đấu, quân đội Demacia không thể viện lý do này nọ để bỏ trốn, hay đầu hàng bất kể tình hình ra sao...</p><hr>
                <div class="card-body">
					<p class="card-text">Người tạo: BeBe</p>
					<p class="card-text">Lượt xem: 248</p>
              		<p><a class="btn btn-secondary" href="/blog/ashe" role="button">Xem chi tiết &raquo;</a></p>
          		</div>
            </div><!--/span-->
            <div class="col-md 4">
              <h2>Lux</h2>
              <img src="https://lienminh.garena.vn/images/champions/skin/99_Lux/0.jpg" width="318" height="180" class="img-thumbnail">
              <p>Là một hậu duệ của dòng họ Crownguards nổi danh đã bao đời phục vụ cho Demacia, số phận của Luxanna được gắn liền với sự huy hoàng. Cô là người con gái duy nhất của gia đình, và cô ngay lập tức tiếp nhận nền giáo dục bậc cao và tiệc tùng xa hoa chỉ dành cho gia đình quyền quý như gia tộc Crownguards. Đến khi trưởng thành,...</p><hr>
                <div class="card-body">
					<p class="card-text">Người tạo: NoWay</p>
					<p class="card-text">Lượt xem: 212</p>
              		<p><a class="btn btn-secondary" href="/blog/ashe" role="button">Xem chi tiết &raquo;</a></p>
          		</div>
            </div><!--/span-->
		</main>
	</div>
</div>
<%= render "layouts/footer" %>