<!DOCTYPE html>
<html>
<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<a class="navbar-brand" href="/home">
        <i class="fa fa-coffee"></i> <span class="d-none d-lg-inline">Bloger CC</span>
  		</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="nav-content">
    		<ul class="nav nav-pills flex-column flex-sm-row">
          <li class="nav-item active">
            <a class="nav-link" href="/home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums" >Albums</a>
          </li><li class="nav-item">
            <a class="nav-link" href="/about" >About</a>
          </li>
          </li><li class="nav-item">
            <a class="nav-link" href="/blog" >Blog</a>
          </li>
        </ul>
      </div>
      <form>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i>Sign In</button>
    </div>
</form>
	</nav>
</html>